src/data_src/app.js.map
src/data/*
**/*.swp
src/compile_commands.json
.pio
tags
src/src/static_files.h
.clang_complete
.gcc-flags.json
.ccls
.venv
__pycache__
src/server/config.json
tools/config.json
src/.cache
src/src/config_default.c
src/config.json
