{
  "rssi[0].name": "PLAYER1",
  "rssi[0].freq": 5658,
  "rssi[0].peak": 900,
  "rssi[0].filter": 60,
  "rssi[0].offset_enter": 80,
  "rssi[0].offset_leave": 70,
  "rssi[0].calib_max_lap_count": 3,
  "rssi[0].calib_min_rssi_peak": 600,
  "rssi[0].led_color": 14876421,
  "rssi[1].name": "red",
  "rssi[1].freq": 0,
  "rssi[1].peak": 999,
  "rssi[1].filter": 66,
  "rssi[1].offset_enter": 88,
  "rssi[1].offset_leave": 77,
  "rssi[1].calib_max_lap_count": 3,
  "rssi[1].calib_min_rssi_peak": 666,
  "rssi[1].led_color": 16711680,
  "rssi[2].name": "PLAYER2",
  "rssi[2].freq": 0,
  "rssi[2].peak": 999,
  "rssi[2].filter": 66,
  "rssi[2].offset_enter": 88,
  "rssi[2].offset_leave": 77,
  "rssi[2].calib_max_lap_count": 3,
  "rssi[2].calib_min_rssi_peak": 666,
  "rssi[2].led_color": 255,
  "rssi[3].name": "Blue",
  "rssi[3].freq": 0,
  "rssi[3].peak": 900,
  "rssi[3].filter": 60,
  "rssi[3].offset_enter": 80,
  "rssi[3].offset_leave": 70,
  "rssi[3].calib_max_lap_count": 3,
  "rssi[3].calib_min_rssi_peak": 600,
  "rssi[3].led_color": 255,
  "rssi[4].name": "",
  "rssi[4].freq": 0,
  "rssi[4].peak": 900,
  "rssi[4].filter": 60,
  "rssi[4].offset_enter": 80,
  "rssi[4].offset_leave": 70,
  "rssi[4].calib_max_lap_count": 3,
  "rssi[4].calib_min_rssi_peak": 600,
  "rssi[4].led_color": 255,
  "rssi[5].name": "",
  "rssi[5].freq": 0,
  "rssi[5].peak": 900,
  "rssi[5].filter": 60,
  "rssi[5].offset_enter": 80,
  "rssi[5].offset_leave": 70,
  "rssi[5].calib_max_lap_count": 3,
  "rssi[5].calib_min_rssi_peak": 600,
  "rssi[5].led_color": 255,
  "rssi[6].name": "",
  "rssi[6].freq": 0,
  "rssi[6].peak": 900,
  "rssi[6].filter": 60,
  "rssi[6].offset_enter": 80,
  "rssi[6].offset_leave": 70,
  "rssi[6].calib_max_lap_count": 3,
  "rssi[6].calib_min_rssi_peak": 600,
  "rssi[6].led_color": 255,
  "rssi[7].name": "",
  "rssi[7].freq": 0,
  "rssi[7].peak": 900,
  "rssi[7].filter": 60,
  "rssi[7].offset_enter": 80,
  "rssi[7].offset_leave": 70,
  "rssi[7].calib_max_lap_count": 3,
  "rssi[7].calib_min_rssi_peak": 600,
  "rssi[7].led_color": 255,
  "elrs_uid": "0,0,0,0,0,0",
  "osd_x": 0,
  "osd_y": 0,
  "osd_format": "%2L: %5.2ts(%6.2ds)",
  "wifi_mode": 0, /* 0=AP, 1=STA */
  "ssid": "simple-fpv-timer-00",
  "passphrase": "",
  "node_name": "esp32",
  "node_mode": 0, /* 0=Controller, 1=Client */
  "ctrl_ipv4": "192.168.2.1",
  "game_mode": 0, /* 0=RACE, 1=CTF, 2=SPECTRUM */
  "led_num": 25,
  "ctrl_port": 9090
}
